<h3 class="text-center">New Order</h3>

<%= flash[:error] %>
<div class="well">
  <%= form_for @order, url: project_orders_path do |f| %>
    <div class="form-row">
      <div class="form-group col-md-3">
        <%= f.label :male_site_operatives %>
        <%= f.text_field :n_workers_male, class: "form-control" %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :female_site_operatives %>
        <%= f.text_field :n_workers_female, class: "form-control" %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :number_of_office_staff %>
        <%= f.text_field :n_office_staff, class: "form-control" %>
      </div>
      <!--<div class="form-group col-md-3">-->
      <!--  <%= f.label :female_office_staff %>-->
      <!--  <%= f.text_field :n_office_staff, class: "form-control" %>-->
      <!--</div>-->
    </div>
    
    <%= f.submit 'Place Order', class: 'btn btn-default' %>
    
  <% end %>
</div>