<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @project.name %></h1>
    <h5><%= @project.contractor.name %></h5>
    <p class="lead"><%= @project.contact %></p>
  </div>
</div>

<% @project.orders.all.each do |order| %>
  <div class="card">
    <div class="card-header">
      <%= "Order ID: #{order[:id]}" %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= "Workers: #{order[:n_workers_female] + order[:n_workers_male]}"%></p>
      <p class="card-text"><%= "Office Staff: #{order[:n_office_staff]}"%></p>
      <p class="card-text"><%= "Price: £#{order[:price]}"%></p>
      <%= link_to "Edit", project_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= link_to "New Order", new_project_orders_path(project_id: @project.id), class: "btn btn-primary" %>