<h1>Enquiries:</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Order Details</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <% Offer.all.each do |offer| %>
      <tr>
        <th scope="row"><%= "#{ offer[:client_name] }" %></th>
        <td><%= "#{ offer[:email] }" %></td>
        <td><%= "#{ offer[:order_description] }" %></td>
        <td><%= "#{ offer[:comments] }" %></td>
        <td><%= link_to "View", offer_path(offer), class: "btn btn-primary" %></td>
        <td><%= link_to "Delete", "#", class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>