<div class="row">
  <div class="col-sm-8">
    <h1 align="center"><%= @offer[:client_name] %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="well">
      <h5>Email Address</h5>
      <p><%= @offer[:email] %></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h5>Mobile Number</h5>
      <p><%= @offer[:mobile] %></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h5>Address</h5>
      <p><%= @offer[:delivery_address] %></p>
      <p><%= @offer[:postcode] %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <div class="well">
      <h5>Order Description</h5>
      <p><%= @offer[:order_description] %></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h5>Comments</h5>
      <p><%= @offer[:comments] %></p>
    </div>
  </div>
</div>