<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <!-- :mobile, :delivery_address, :postcode, :order_description, :comments -->
        <p>Name: <%= "#{ @name }" %></p>
        <p>Email: <%= "#{ @email }" %></p>
        <p>Mobile: <%= "#{ @mobile }" %></p>
        <p>Delivery Address: <%= "#{ @delivery_address }" %></p>
        <p>Postcode: <%= "#{ @postcode }" %></p>
        <p>Description: <%= @description %></p>
        <p>Comments: <%= "#{ @comments }" %></p>
        <p></p>
    </body>
</html>